[submodule "src/shared/common"]
	path = src/shared/common
	url = git@github.com:sv-next-level/next-util-common.git
[submodule "src/shared/chart"]
	path = src/shared/chart
	url = git@github.com:sv-next-level/next-util-chart.git
