{
  "arrowParens": "always",
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "bracketSameLine": false,
  "jsxSingleQuote": false,
  "proseWrap": "preserve",
  "quoteProps": "consistent",
  "requirePragma": false,
  "semi": true,
  "singleQuote": false,
  "trailingComma": "all",
  "importOrder": [
    "^(react/(.*)$)|^(react$)",
    "<THIRD_PARTY_MODULES>",
    "",
    "^(next/(.*)$)|^(next$)",
    "",
    "^@radix-ui",
    "",
    "^@/assets",
    "^@/config",
    "^@/hooks",
    "^@/lib",
    "^@/registry",
    "^@/types",
    "^@/server",
    "^@/service",
    "^@/nextjs/assets",
    "^@/nextjs/config",
    "^@/nextjs/hooks",
    "^@/nextjs/lib",
    "^@/nextjs/registry",
    "^@/nextjs/types",
    "^@/nextjs/server",
    "^@/nextjs/service",
    "",
    "^@/components/ui",
    "^@/nextjs/components/ui",
    "",
    "^@/components",
    "^@/nextjs/components",
    "",
    "^@/styles",
    "^@/nextjs/styles",
    "",
    "^@/app",
    "^@/nextjs",
    "",
    "^@/common",
    "",
    "^@/chart",
    "",
    "^@/",
    "",
    "^[./]"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "importOrderBuiltinModulesToTop": true,
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
  "importOrderMergeDuplicateImports": true,
  "importOrderCombineTypeAndValueImports": true,
  "plugins": ["@ianvs/prettier-plugin-sort-imports"]
}
