{
  "arrowParens": "always",
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "bracketSameLine": false,
  "jsxSingleQuote": false,
  "proseWrap": "preserve",
  "quoteProps": "consistent",
  "requirePragma": false,
  "semi": true,
  "singleQuote": false,
  "trailingComma": "all",
  "importOrder": [
    "^(react/(.*)$)|^(react$)",
    "^(next/(.*)$)|^(next$)",
    "<THIRD_PARTY_MODULES>",
    "",
    "^types$",
    "^@/nextjs/types",
    "^@/nextjs/config",
    "^@/nextjs/lib",
    "",
    "^@/nextjs/components/ui",
    "",
    "^@/nextjs/components",
    "",
    "^@/nextjs/styles/(.*)$",
    "",
    "^@/nextjs/assets",
    "^@/nextjs/hooks",
    "^@/nextjs/registry",
    "",
    "^@/nextjs",
    "",
    "^@/common",
    "",
    "^[./]"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "importOrderBuiltinModulesToTop": true,
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
  "importOrderMergeDuplicateImports": true,
  "importOrderCombineTypeAndValueImports": true,
  "plugins": ["@ianvs/prettier-plugin-sort-imports"]
}
