{
  "branches": [
    "master"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    {
      "releaseNotesGenerator": "@semantic-release/release-notes-generator",
      "parserOpts": {
        "preset": "angular"
      }
    }
  ]
}
